*{margin: 0px; padding: 0px}
.navbar{
    margin: 5px; 
    padding: 15px;
    border: 1px solid black; 
    text-align: center;
    background-color: antiquewhite;

}
#links{display: inline;}
#links a{
    text-decoration: none;
    margin: 10px;
    padding: 5px;
    border: 1px solid aqua;
    background-color: aquamarine;
    color: black;
    opacity: .55;
    transition: .4s;
}
#links a:hover{opacity: 1; transition: .4s;}
.banner{
    background-image: url(ChurcoisMarimon_Module5-main/cat.jpg);
    height: 300px;
    position: relative;
}
.banner a{
    position: absolute;
    padding: 20px;
    background-color: aliceblue;
    right: 50%;
    bottom: 50%;

}